.ncontain {
  background: #F1F1F1;
  padding: 20px 0;
}
.ncontain > div {
  width: 1200px;
  overflow: hidden;
  margin: auto;
}
.blHead {
  overflow: hidden;
  background: #fff;
  padding: 15px 10px;
  line-height: 1.5;
}
.blHead h2 {
  float: left;
  margin: 0;
  padding: 0;
}
.blHead ul {
  float: left;
  margin: 8px 0 0;
  overflow: hidden;
}
.blHead ul li {
  float: left;
  padding: 0 25px;
  border-left: 1px solid #ddd;
}
.blHead ul li:first-child {
  border-left: none;
}
.blBoxs {
  width: 980px;
  float: right;
  overflow: hidden;
}
.blCons {
  padding: 20px;
  background: #fff;
}
.blCons .bods {
  border: 1px solid #ddd;
}
.bl1Head {
  overflow: hidden;
  border: 1px solid #ddd;
  background: #F1F1F1;
  padding: 20px;
}
.bl1Head .bl1Headlef {
  float: left;
  border-right: 1px solid #ddd;
  width: 30%;
  text-align: center;
  font-size: 16px;
}
.bl1Head .bl1Headlef p:last-child {
  color: #FE8502;
  font-size: 40px;
}
.bl1Head .bl1Headlef p:last-child span {
  font-size: 22px;
  vertical-align: text-bottom;
  display: inline-block;
  padding-bottom: 3px;
}
.bl1HeadRig {
  margin-left: 30%;
  padding: 20px 50px;
  overflow: hidden;
}
.bl1HeadRig .bl1HeadRiglef {
  margin: 15px 0 0 30px;
  float: left;
}
.bl1HeadRig .bl1HeadRiglef p {
  font-size: 16px;
}
.bl1HeadRig .bl1HeadRiglef p span {
  font-size: 20px;
}
.bl1HeadRig .bl1HeadRigrig {
  float: right;
}
.bl1HeadRig .bl1HeadRigrig button {
  display: block;
  width: 200px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  background: #188AE7;
}
.bl1HeadRig .bl1HeadRigrig button:first-child {
  background: #FE8502;
  margin-bottom: 20px;
}
.nTable {
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ddd;
  text-align: center;
}
.nTable thead th {
  background: #F1F1F1;
  height: 40px;
}
.nTable td {
  height: 40px;
}
.paginationbox {
  padding-top: 20px;
  text-align: right;
}
.pad20 {
  padding: 20px;
}
.bl2d {
  padding: 0 0 20px;
  overflow: hidden;
}
.bl2d .bl2dlef {
  font-size: 16px;
  float: left;
  width: 13%;
  text-align: right;
  padding-top: 6px;
}
.bl2d .bl2drig {
  margin-left: 16%;
}
.bl2d .bl2drig .bl2drigspan span {
  display: inline-block;
  border: 1px solid #ddd;
  line-height: 36px;
  width: 120px;
  border-radius: 4px;
  text-align: center;
  margin: 0 10px 10px;
}
.bl2d .bl2drig .bl2drigspan span.bl2drigspanact {
  color: #FE8502;
  border-color: #FE8502;
}
.bl2d .bl2drig .bl2drigspan input {
  width: 120px;
  height: 36px;
  margin-left: 10px;
}
.bl2drigtabs {
  margin: 0;
  border: 1px solid #ddd;
}
.bl2drigtabs .bl2drigtabstit {
  height: 40px;
  margin: 0;
  background: #F8F8F8;
  overflow: hidden;
}
.bl2drigtabs .bl2drigtabstit li {
  float: left;
  background: #fff;
  line-height: 40px;
  padding: 0 20px;
}
.bl2drigtabs .bl2drigtabstit .bl2drigtabscon {
  height: 40px;
}
.bl2drigSpan {
  font-size: 20px;
  color: #FE8502;
  display: inline-block;
  margin-top: 3px;
}
.bl2drigButton {
  padding: 6px 40px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: none;
  background: #188AE7;
}
.bl1act {
  color: #FE8502;
}
.bl1ul li {
  cursor: pointer;
}
.bl3B {
  overflow: hidden;
  margin: 30px 0;
}
.bl3B .bl3Btit {
  float: left;
  width: 150px;
  text-align: right;
  margin-top: 6px;
}
.bl3B .bl3Bcon {
  margin-left: 170px;
}
.bl3B .bl3Bcon input {
  width: 300px;
  margin-right: 10px;
}
.bl3B .bl3Bcon span {
  display: inline-block;
}
.bl3B .bl3Bcon button {
  padding: 8px 25px;
  color: #fff;
  background: #188ae7;
  border-radius: 4px;
  border: none;
  margin-left: 10px;
}
.bl3B .bl3Bcon .bl3Input {
  width: 170px;
}
.bl3B .bl3Bcon button.bl3But {
  display: block;
  margin-top: 20px;
  background: red;
  padding: 8px 80px;
}
.clored {
  color: red;
}
.clo188 {
  color: #188ae7;
}
.bl2drigButtonBx {
  overflow: hidden;
  margin-top: 20px;
  padding: 5px 0;
}
.znHead {
  background: #F1F1F1;
  font-size: 18px;
  padding-left: 20px;
  line-height: 42px;
}
.znCon {
  padding: 20px;
}
.znConul {
  padding: 0 0 20px;
}
.znConul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.znConul li span {
  display: inline-block;
}
.znConul li .znConulTit {
  margin-left: 5px;
}
.znConul li .znConulCon {
  color: #FE8502;
}
.znbox2 {
  padding: 0 0 20px;
  margin-top: 20px;
}
.qtBox {
  background: #F1F1F1;
  padding: 30px 0;
  overflow: hidden;
}
.qtBox .qtboxs {
  width: 1200px;
  margin: auto;
  box-shadow: 0 3px 3px 1px #ddd;
  background: #fff;
  padding: 0 30px;
}
.qtBox .qtboxHead {
  border-bottom: 1px dashed #ddd;
  text-align: center;
}
.qtBox .qtboxHead h1 {
  font-size: 30px;
  margin-top: 20px;
}
.qtBox .qtConcontel {
  width: 200px;
}
.qtBox .qtContit {
  line-height: 44px;
}
.qtCon {
  padding: 20px 0;
}
.saTit {
  width: 1200px;
  margin: 20px auto;
  background: #006BFF;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 0;
}
.saTit h2 {
  font-size: 30px;
  color: #fff;
  float: left;
  width: 200px;
  text-align: center;
  margin: auto;
}
.saTit .saTitRig {
  background: yellow;
  float: right;
  padding: 5px 50px;
  margin-right: 30px;
  font-size: 22px;
  overflow: hidden;
}
.saTit .saTitRig .saTitRigSta {
  float: left;
  font-size: 22px;
  margin-right: 10px;
}
.saTit .saTitRigTime {
  float: left;
}
.saTit .saTitRigTime span {
  display: inline-block;
  min-width: 50px;
  margin: 0 6px;
  text-align: center;
  font-size: 22px;
  border-radius: 4px;
}
.saTit .saTitRigTime .saTitRigTimeSpan {
  background: #000000;
  color: #fff;
}
.paginationboxs {
  width: 1200px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  background: #fff;
}
.zjBox {
  background: #000;
}
.zjBox .img1 {
  width: 100%;
}
.zjBox .zjBoxs {
  width: 1200px;
  padding: 20px 0;
  margin: auto;
}
.zjBox .zjimg1 {
  width: 100%;
}
.zjBox .zjimg2 {
  overflow: hidden;
  padding: 20px 0;
}
.zjBox .zjimg2 a {
  display: block;
  width: 48%;
  float: left;
}
.zjBox .zjimg2 img {
  width: 100%;
}
.zjBox .zjimg2 a:last-child {
  float: right;
}
.zjBox .zjimg3 {
  overflow: hidden;
}
.zjBox .zjimg3 a {
  display: block;
  float: left;
  width: 33%;
}
.zjBox .zjimg3 a img {
  padding-top: 10px;
  width: 100%;
}
.zjBox .zjimg3 a:nth-child(3n) {
  float: right;
}
.zjBox .zjimg4 {
  text-align: center;
}
.act2img1 {
  width: 100%;
}
.act2div {
  height: 444px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../images/activepagesimage/004.png") no-repeat;
  background-size: 100% 100%;
}
.act2img2 {
  margin: 0 20px ;
}
/*# sourceMappingURL=balanceLess.css.map */