.wit12 {
  width: 1200px;
  margin: auto;
}

.ithHead {
  background: #FFAA15;
  .ithHeadBox {
    overflow: hidden;
    .wit12;
    padding: 10px 0;
    height: 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url("../../../../images/interl/intergralhome/02.png") no-repeat;
    background-size: 100% 100%;
  }
  .ithHeadrig {
    float: right;
    height: 100%;
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 0 10px;
    p {
      font-size: 12px;
      color: #666;
      margin-top: 5px;
    }
  }
}

.ithHeadrigcon {
  float: left;
  margin: 0 70px;
}

.disI {
  display: inline-block;
}

.bgS {
  background-size: 100% 100%;
}

.vaM {
  vertical-align: middle;
}

.ith_bg1 {
  .disI;
  width: 23px;
  height: 23px;
  background: url("../../../../images/interl/intergralhome/01.png") no-repeat;
  .bgS;
  .vaM;
  margin-right: 10px;
}

.ithHeadrigcontit {
  margin-top: 20px;
  h2 {
    .disI;
    .vaM;
    font-size: 16px;
    margin: 0;
  }

}

.ithStrip {
  font-size: 12px;
  background: #FFB7B8;
  margin-top: 15px;
  line-height: 1.2;
  span {
    .disI;
    background: #EC5051;
    color: #fff;
    padding: 0 10px;
  }

}

.ithHeadrigrig {
  margin-left: 340px;
  padding: 15px;
  div {
    border-left: 1px dashed #ddd;
    padding: 5px 55px 5px 70px;
    text-align: center;
    p:first-child {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
    .bigred {
      color: red;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
}

.ithHeadrigImg {
  position: absolute;
  left: -54px;
  top: 0;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #ddd;
  width: 110px;
  height: 110px;
  padding: 10px 10px 0;
  background: #fff;
  img {
    width: 100%;
    height: 100%;
  }
}

.ithconBoxs {
  background: #E8E8E8;
  padding: 15px 0;
}

.ithconbox {
  .wit12;
  background: #fff;
  padding: 15px 0;
  overflow: hidden;
  .ithconboxDiv {
    float: left;
    width: 350px;
    height: 190px;
    margin-left: 10px;
    padding: 15px 50px;
  }
  .ithconshopping {
    .ithconboxDiv;
    background: url("../../../../images/interl/intergralhome/03.png") no-repeat;
    .bgS;
    h2 {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 600;
    }
    a {
      .disI;
      font-size: 16px;
      color: #333;
      border: 1px solid #333;
      padding: 3px 15px;
      span {
        .disI;
        padding-left: 2px;
      }
    }
  }
  .ithconSignin {
    background: url("../../../../images/interl/intergralhome/04.png") no-repeat;
    .bgS;
  }
}

.ithconhua {
  margin-left: 730px;
  margin-right: 10px;
  h1 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding: 0 0 3px;
    border-bottom: 1px solid #e1e1e1;
  }
  li {
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0;
    .ithconhuaLef {
      .fL;
      color: red;
      font-size: 16px;
      border: 1px solid #e1e1e1;
      width: 55px;
      height: 55px;
      text-align: center;
      line-height: 55px;
      font-weight: 600;
    }
    .ithconhuaRig {
      .fL;
      margin-left: 30px;
      p {
        font-size: 12px;
        margin: 0;
        span {
          color: #FFAA15;
        }
      }
    }
    h2 {
      font-size: 16px;
      font-weight: 600;

    }
  }
  a {
    .fR;
    margin-right: 30px;
    .disI;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px;
    font-size: 16px;
    line-height: 1;
    margin-top: 15px;
  }

}

.fL {
  float: left;
}

.fR {
  float: right;
}

.ithscollTit {
  .wit12;
  margin-top: 15px;
  background: #fff;
  overflow: hidden;
  padding-left: 10px;
  li {
    .fL;
    padding: 15px;
  }
}

.ithbox2 {
  .wit12;
  margin-top: 15px;
  background: #fff;
  padding: 0 10px;

}

.ith_bg2 {
  .disI;
  width: 32px;
  height: 24px;
  background: url("../../../../images/interl/intergralhome/10.png") no-repeat;
  .bgS;
  .vaM;
}

.ithboxTit {
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;
  h2 {
    .disI;
    .vaM;
    font-size: 16px;
    margin: 0 0 0 8px;
  }
}

.ithboxUl {
  width: 1200px;
  overflow: hidden;
  margin-left: -10px;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  li {
    width: 387px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    .fL;

    padding: 10px 0 10px 10px;
    overflow: hidden;
    img{
      width: 156px;
      height: 156px;
      float: left;
    }
    .ithboxUlLef {
      .fL;
      width: 175px;
      height: 156px;
      //line-height: 160px;
      padding-top: 60px;
      color: #fff;
      text-align: center;
      background: url("../../../../images/interl/intergralhome/11.png") no-repeat;
      .bgS;
      span {
        .disI;
        line-height: 1;
        vertical-align: top;
        font-size: 24px;
      }
      p {
        line-height: 1;
        vertical-align: top;
        .disI;
        font-size: 50px;
      }
    }
    .ithboxUlRig {
      margin-left: 185px;
      font-size: 12px;
      .ithboxUlRigtit {
        p{
          height: 40px;
          color: #888;
        }
        span {
          .disI;
          line-height: 1.5;
          padding: 2px 5px;
          border-radius: 3px;
          color: #fff;
          background: #4FA3EF;
          margin-right: 5px;
        }
      }
      .ithboxUlRigcon {
        p {
          margin-bottom: 5px;
          .ithboxUlRigconspan {
            color: #FFAA15;
            font-size: 13px;
            font-weight: 600;
          }

        }
        p:first-child{
          margin-bottom: 0px;
        }
      }
      button {
        border-radius: 3px;
        padding: 4px 35px;
        background: #FE8502;
        color: #fff;
        border: none;
        font-size: 14px;

      }
    }
  }
}
.ithxie{
  text-decoration:line-through;
}







