/*内容第一块*/
.personal_Jibenxinxi_title{
  background-color: #eeeeee;
  margin:0 10px;
}
.personal_Jibenxinxi_title_p{
  color: #CC0000;
  width: 948px;
  padding: 5px;
  margin-left: 10px;
  font-weight: bold;
  margin-bottom: 0;
}
.personal_Jibenxinxi_title_p1{
  margin-left: 14px;
  height: 20px;
}
.personal_Jibenxinxi_title_p1 .fontWeight{
  cursor: pointer;
}
.personal_Jibenxinxi_title_span{
  display: inline-block;
  margin-left: 5px;
}

.personal_Jibenxinxi_title_inp{
  border: none;
  font-size: 20px;
  height: 20px;
  background-color: #fff;
  width: 110px;
}
.setAddress{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*经营范围*/
.personal_Jibenxinxi_title_con_p2{
  width: 600px;
}
.personal_Jibenxinxi_title_con_p2_span{
  display: inline-block;
  width: 150px;
  font-size: 14px;
}
.personal_Jibenxinxi_title_con_p2_span>input{
  margin-right: 6px;
}
.personal_Jibenxinxi_title_con{
  background-color: #F7F7F7;
  margin: 0 10px;
  padding: 10px 0;
}
.personal_Jibenxinxi_title_con4{
  background-color: #F7F7F7;
  position: relative;
  margin: 0 10px 20px;
  padding: 10px 0;
}
  /*证件资料上传*/
.personal_Jibenxinxi_title_con_span2{
  display: inline-block;
  text-align: right;
  width: 175px;
  font-size: 14px;
}
.personal_Jibenxinxi_title_con_div1{
  display: inline-block;
  width: 100px;
  color: #ffffff;
}
.personal_Jibenxinxi_title_con_btn{
  margin-left: 20px;
}
.ant-modal-mask{
  background-color: rgba(0,0,0,0.1);
}
.personal_Jibenxinxi_title_con_btn span{
  color: #ffffff;
}

.personal_Jibenxinxi_title_con_inp1{
  color: #939393;
  border: 1px solid #939393;
  padding: 5px;
  width: 225px;
}

.shangchuan{
  position: fixed;
  left: 30%;
  top: 30%;
  background-color: #cccccc;
  height: 200px;
  width: 200px;
}
.shangchuan_btn{
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  width: 88px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  border-radius: 5px;
  margin-left: 20px;

}
.shangchuan_inp1{
  position: absolute;
  top: 0px;
  left: 194px;
  width: 88px;
  height: 32px;
  opacity: 0;
}
.shangchuan_inp{
  position: absolute;
  top: 0px;
  left: 420px;
  width: 88px;
  height: 32px;
  opacity: 0;
}
.personal_xiangqing_title{
  position: relative;
  padding: 0 0 1px;
}
.zcUl{
  overflow: hidden;
  padding: 10px 0 0;
}
.zcUl li{
  padding: 0 20px;
  height: 25px;
  line-height: 25px;
  float: left;
  border-right: 1px solid #ddd;
}
.zcUl li:last-child{
  border: none;
}
.xiugaimima{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 988px;
  height: 861px;
  background-color: #000000;
  opacity: 0.4;
  z-index: 8;
}
.zcB{
  overflow: hidden;
}
.xiugaimima_div{
  width: 470px;
  height: 300px;
  background-color: #ffffff;
  margin-left: 269px;
  position: absolute;
  top: 100px;
  z-index: 9;
}
.xiugaimima_div_p{
  height: 45px;
  line-height: 45px;
  background-color: #f8f8f8;
  text-indent: 20px;
  font-weight: bold;
}
.xiugaimima_div_p_span{
  display: inline-block;
  width: 100px;
  text-align: right;
}
.xiugaimima_div_p_inp{
  border: 1px solid #cccccc;
  width: 350px;
  height: 35px;
}
.xiugaimima_div_p_span1{
  display: inline-block;
  background-color: #188ae7;
  padding: 5px 10px;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.xiugaimima_div_p_span2{
  display: inline-block;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-left: 10px;
  cursor: pointer;
}
.xiugaimima_div_p1{
  text-align: right;
  margin-right: 20px;
  margin-top: 5px;
}
.xiugaimima_div_p2{
  margin-top: 30px;
}
.xiugaimima_div_p3{
  margin-left: 100px;
}
.xiugaimima_div_p4{
  margin-bottom: 0px;
}
