.textover {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.iglHead {
  width: 1200px;
  margin: auto;
  padding: 20px 0 6px;
  overflow: hidden;
}
.iglHead .iglHeadLeft {
  float: left;
  font-size: 22px;
  color: #F68F0A;
}
.iglHead .iglHeadLeft span {
  padding: 8px 15px;
  margin-left: 15px;
  border-left: 1px solid #F68F0A;
}
.iglHead .iglHeadRig {
  float: right;
  padding-top: 40px;
  display: flex;
}
.iglHead .iglHeadRig li {
  color: #333;
  white-space: nowrap;
  padding: 10px;
}
.iglHead .iglHeadRig li a {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.iglHead .iglHeadRig li a:hover {
  color: #F68F0A;
}
.prize {
  width: 994px;
  height: 610px;
  margin: 0 auto;
  background: url("../../../images/interl/01.png") no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.prize__container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}
.container__area {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.begin__btn {
  width: 426px;
  height: 228px;
  border-radius: 4px;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: -114px 0 0 -213px;
  left: calc(50%);
  top: calc(50%);
  cursor: pointer;
  background: url("../../../images/interl/11.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.begin__btn img {
  width: 220px;
  height: 82px;
  display: block;
}
.begin__btn span {
  color: red;
  display: block;
  margin-top: 8px;
  font-size: 16px;
  width: 100%;
}
.area__row {
  width: 100%;
  height: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row__item {
  width: 25%;
  height: 100%;
  padding: 1px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row__item div {
  width: 100%;
  height: 100%;
}
.row__item img {
  width: 100%;
  height: 100%;
}
.row__item-active div {
  background-color: #fff;
}
.row__item-active img {
  opacity: .4;
  background-color: #fff;
}
.wid1200 {
  overflow: hidden;
  width: 1200px;
  margin: auto;
}
.wid1050 {
  overflow: hidden;
  width: 1050px;
  margin: 40px auto 0;
}
.intFotBox {
  overflow: hidden;
  width: 1050px;
  margin: 40px auto 0;
}
.intFotBox .intFotBoxLef {
  float: left;
  width: 49.5%;
  background: #fff;
}
.intFotBox .intFotBoxLef img {
  width: 100%;
}
.intFotBox .intFotBoxLef li {
  margin-top: 15px;
  overflow: hidden;
}
.intFotBox .intFotBoxLef li span {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #FFCD46;
  text-align: center;
  line-height: 22px;
  float: left;
}
.intFotBox .intFotBoxLef li p {
  margin-left: 24px;
}
.intFotBox .intFotBoxRig {
  float: right;
  width: 49.5%;
  background: #fff;
}
.intFotBox .intFotBoxRig h1 {
  color: #D3233B;
  font-size: 20px;
  margin-top: 5px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
}
.intFotBoxRig,
.intFotBoxLef {
  padding: 25px;
  height: 390px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.intredboxs {
  background: #D3233B;
  color: #fff;
  padding: 15px 10px;
  height: 280px;
}
.intredboxs li {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px 10px;
  margin-top: 12px;
}
.intredboxs li span:first-child,
.intredboxs li span:nth-child(2) {
  width: 30%;
}
.intredboxs li span:last-child {
  width: 40%;
  text-align: right;
}
.intBg {
  padding-top: 270px;
  background: url("../../../images/interl/02.png") no-repeat top center;
  padding-bottom: 40px;
}
.ingInfo {
  overflow: hidden;
  width: 1050px;
  margin: 40px auto 0;
  text-align: right;
  margin-top: 15px;
}
.boderBottom {
  border-bottom: 1px solid #000000;
}
/*# sourceMappingURL=intergarlpage.css.map */