.newHomes {
  height: 40px;
  background: #F2F2F2;
  border-bottom: 2px solid #188ae7;
}
.newHomescd {
  overflow: hidden;
}
.newHomescd li {
  float: left;
}
.newHomescd li a {
  display: block;
  padding: 0 30px;
  line-height: 40px;
  color: #333;
  font-size: 16px;
}
.newHomescd li a:hover {
  color: #188ae7;
}
.nhlon {
  text-align: center;
}
.nhlon img {
  max-width: 800px;
}
.nhlunbox {
  position: relative;
  width: 1200px;
  margin: auto;
}
.nhlunfot {
  width: 800px;
  margin: 9px auto 0;
}
.nhlunfot img {
  width: 255px;
}
.nhlunfot a:nth-child(2) img {
  margin: 0 10px;
}
.nlbhead {
  text-align: center;
}
.nlbhead .nlbheadimg1 {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 8px 0;
}
.nlbhead p {
  line-height: 1.2;
  font-size: 14px;
}
.nlbhead a {
  display: inline-block;
  margin: 0 5px 5px;
  padding: 0 5px 0 6px;
  line-height: 28px;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  background: #F49D2C;
}
.nlbhead a:nth-child(2) {
  background: #ED6D2C;
}
.nlbhead .nlbheadimg2 {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("http://www.scjuchuang.com/images/antd/huiyuanzongxin2.png") no-repeat left center;
  background-size: 15px 15px;
  vertical-align: middle;
}
.nlbhead .nlbheadimg3 {
  background: #EE6D2C;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: url("http://www.scjuchuang.com/images/antd/huiyuanzongxin3.png") no-repeat left center;
  background-size: 15px 15px;
}
.nlbhead span {
  vertical-align: middle;
}
.nhlunboximg1 {
  height: 362px;
}
.wth12 {
  width: 1200px;
  margin: auto;
}
.nhimg1 {
  width: 1200px;
  margin: auto;
  padding: 10px 0;
}
.nhimg1 img {
  width: 100%;
}
.nhbox1 {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}
.nhconhead {
  margin: 20px 0 10px;
}
.nhconhead h2 {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
}
.nhconhead h2 img {
  margin-left: 10px;
}
.nhconhead span {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5;
  margin: 3px 0 0 10px;
  color: #999;
}
.bhul1 {
  overflow: hidden;
  border: 1px solid #ddd;
  font-size: 0;
  text-align: center;
  padding: 10px 0px;
}
.bhul1 li {
  display: inline-block;
  padding: 0 8px;
  border-right: 1px solid #ddd;
}
.bhul1 li img {
  width: 180px;
}
.bhul1 li:last-child {
  border-right: none;
}
.nhbox2lef {
  width: 540px;
  float: left;
}
.nhbox2lefcon {
  height: 325px;
  padding: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.nhbox2lefcon .ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #364d79;
  overflow: hidden;
}
.nhbox2lefcon .ant-carousel .slick-slide img {
  height: 300px;
}
.nhbox2lefcon .ant-carousel .slick-slide h3 {
  color: #fff;
}
.nhbox2rig {
  float: right;
  margin-left: 10px;
  width: 320px;
}
.nhbox2rig .nhbox2lefcon img {
  width: 100%;
  height: 300px;
}
.nhbox3lef {
  width: 590px;
  float: left;
}
.nhbox3rig {
  width: 590px;
  float: right;
}
.nhbox3lefcondiv {
  height: 250px;
  background: #D4E7EB;
}
.nhbox3lefcon {
  padding: 10px;
  border: 1px solid #ddd;
  height: 520px;
}
.bhul2 {
  overflow: hidden;
  padding: 10px 0;
}
.bhul2 li {
  float: left;
  width: 33.3%;
  border-right: 1px solid #ddd;
  height: 240px;
  padding: 10px;
  text-align: center;
}
.bhul2 li img {
  width: 100%;
  height: 160px;
}
.bhul2 li p {
  line-height: 1.5;
  margin-top: 8px;
}
.bhul2 li:last-child {
  border-right: none;
}
.red {
  color: red;
}
.bhul3 {
  overflow: hidden;
}
.bhul3 li {
  width: 280px;
  height: 250px;
  float: left;
  padding: 0 20px 10px;
  font-size: 12px;
}
.bhul3 li .bhul3tit {
  font-size: 16px;
}
.bhul3 li img {
  width: 160px;
  display: block;
  margin: auto;
  height: 160px;
}
.bhul3 .bhul3Tishi {
  display: inline-block;
  color: #fff;
  background: #FF8601;
  line-height: 2;
  padding: 0 5px;
  margin: 5px 0 ;
  border-radius: 3px;
  cursor: pointer;
}
.bhul3 li:nth-child(1) {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.bhul3 li:nth-child(2) {
  border-bottom: 1px solid #ddd;
}
.bhul3 li:nth-child(3) {
  border-right: 1px solid #ddd;
}
.bhul4 {
  overflow: hidden;
  border: 1px solid #ddd;
  padding: 10px 0;
}
.bhul4 li {
  width: 20%;
  float: left;
  padding: 10px 0;
  border-right: 1px solid #ddd;
  text-align: center;
  height: 300px;
}
.bhul4 li img {
  width: 180px;
  height: 180px;
  display: block;
  margin: auto;
}
.bhul4 li .bhul4div {
  overflow: hidden;
}
.bhul4 li .bhul4div span {
  display: block;
  float: left;
  width: 43px;
  color: #fff;
  background: url("http://www.scjuchuang.com/images/antd/huiyuanzongxin7.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}
.bhul4 li .bhul4div p {
  margin-left: 50px;
  font-size: 12px;
  line-height: 1;
  color: red;
}
.bhul4 li:last-child {
  border-right: none;
}
.nhboxcon3 {
  padding: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.nhboxcon3 .nhboxcon3lef {
  float: left;
  width: 380px;
  height: 380px;
  background: #D4E7EB;
}
.nhboxcon3 .nhboxul4 {
  float: right;
  width: 790px;
  overflow: hidden;
}
.nhboxcon3 .nhboxul4 li {
  width: 50%;
  float: left;
  height: 200px;
  padding: 10px;
  overflow: hidden;
}
.nhboxcon3 .nhboxul4 li img {
  float: left;
  width: 180px;
  height: 180px;
}
.nhboxcon3 .nhboxul4 li .nhboxli4rig {
  margin-left: 190px;
  padding: 30px 0;
  line-height: 35px;
  font-size: 16px;
}
.nhboxcon3 .nhboxul4 li:first-child {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.nhboxcon3 .nhboxul4 li:nth-child(2) {
  border-bottom: 1px solid #ddd;
}
.nhboxcon3 .nhboxul4 li:nth-child(3) {
  border-right: 1px solid #ddd;
}
.nhhead {
  text-align: center;
  margin: 10px 0;
}
.nhhead h2 {
  font-size: 22px;
  font-weight: 600;
}
.nhhead p {
  width: 200px;
  margin: auto;
  position: relative;
}
.nhul5 {
  overflow: hidden;
}
.nhul5 li {
  float: left;
  width: 32.3%;
  border: 1px solid #ddd;
  padding: 20px;
}
.nhul5 li .nhul5Tit {
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.nhul5 li .nhul5Tit a {
  float: right;
  display: block;
  padding: 5px 8px;
  border: 1px dashed #999;
  color: #999;
  margin-right: 20px;
  margin-top: 25px;
}
.nhul5 li .nhul5Tit img {
  display: block;
  margin-left: 30px ;
}
.nhul5 li .nhul5conli6 {
  float: left;
  width: 50%;
}
.nhul5 li .nhul5conli6 img {
  width: 160px;
  height: 160px;
  margin: 0;
}
.nhul5 li .nhul5con {
  overflow: hidden;
  text-align: center;
}
.nhul5 li:nth-child(2) {
  margin: 0 1.5%;
}
.nhul5 li:last-child {
  float: right;
  margin-right: 0;
}
.nllbimgbox .nllbimgboxcarousel {
  width: 800px;
  margin: auto;
  position: relative;
}
.nllbimgbox .nllbimgboxcarousel .slick-list img {
  height: 360px;
}
.nllbimgbox .nllbimgboxcarousel .index_lunbo_div_guanggao {
  right: -200px;
  border: 1px solid #ddd;
}
.nllbimgbox .ant-carousel .slick-slide {
  text-align: center;
  height: 350px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
/*# sourceMappingURL=newHome.css.map */