.itgBoxs{
  background: #E8E8E8;
  padding: 20px 0;
}
.wit12{
  width: 1200px;
  margin: auto;
  background: #fff;
}
.itgHead{
  .wit12;
  .itgHead{
    float: left;
    width: 280px;
    border-right: 1px solid #e1e1e1;

  }
}